@media (max-width : 750px) {
          #mobile-mailing-form {
            margin: auto;
            position: relative;
            width: 100vw;
            height: 709px;
    background: white url('../mobile-images/mobile-blue-bg.svg');
    background-position: center;
    background-size:contain; 
    background-repeat: no-repeat;
    display: flex;     
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
          }

          #mobile-text-field{
            width: 295px;   
            height: 15%;       
            }
           
            #mobile-text-field-header{
                width: 258px;
                height: 22px;
                font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            }
            #mobile-text-field-content {
                width: 249px;
height: 45px;
font-family: Merriweather;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: #FFFFFF;

            }
#mobile-actual-email-form {
    width: 295px;
    height: 461px;
    background: #FFFFFF;
    box-shadow: 15px 80.6px 105.701px 25px rgba(51, 51, 51, 0.1);
border-radius: 20px;
}

#mobile-email, #mobile-name, #mobile-research {
    width: 100%;
    padding: 8px 10px;
  margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  #mobile-email, #mobile-name {
    height: 40px;
}
#mobile-research  {
    height: 145px;
}

#mobile-email-button {
    width: 40%;
    height: 30px;
    background: #578BC3;
	color: #FFFFFF;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    border: none;
    border-radius: 40px;
  }
  .mobile-email-labels{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    
    color: #2B2B2B;
    
  }

 
}